@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300&display=swap");
* {
  font-family: "Poppins";
}

.navbar {
  background: linear-gradient(112deg, rgb(50, 61, 61) 10%, rgb(148, 148, 194) 72%);
}
.navbar-brand {
  font-family: "Poppins";
}
.navbar-nav a {
  color: #27296d;
}

.navbar-nav a {
  color: white;
}

.carousel {
  position: relative;
}
.carousel img {
  border-radius: 50%;
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 800px) {
  .carousel img {
    height: 350px;
  }
}
.carousel-item::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  background-color: black;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  transform: scale(1.1);
  transition: all 0.8s;
}
.carousel-caption {
  z-index: 2;
  top: 350px;
  position: absolute;
  border-radius: 20px;
  background-color: white;
}
.carousel-caption h5,
.carousel-caption p {
  background-color: white;
  color: black;
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.8s;
  box-shadow: 2px 2px 15px rgb(228, 223, 223);
}

footer .nav-link:hover {
  transform: scale(1.1);
  transition: ease 0.7s;
}
footer .nav i:hover {
  color: red;
  transform: scale(1.2);
  transition: ease 0.7s;
}

.title {
  /* background: linear-gradient(
    114.9deg,
    rgb(34, 34, 34) 7.3%,
    rgb(0, 40, 60) 51.6%,
    rgb(0, 143, 213) 93.4%
  ) */
  background: linear-gradient(115deg, rgb(34, 34, 34) 7.3%, rgb(0, 40, 60) 51.6%, rgb(0, 143, 213) 93.4%);
}
.title .breadcrumb-item::before {
  color: white !important;
}

.blog .card-title {
  font-weight: 700;
  font-family: "Kumbh Sans" !important;
  font-size: 36px;
  color: #27296d;
}

.blog .card:hover {
  transform: scale(1);
  box-shadow: 2px 2px 9px rgb(226, 216, 216);
  transition: ease 0.7s;
}

.right-slide:hover {
  border-top: 2px solid rgba(112, 138, 232, 0.6352941176) !important;
  transition: ease 0.7s;
}

.effect1 {
  box-shadow: 3px 3px 9px rgb(219, 211, 211);
}

.effect1:hover {
  transform: translate(3px, -2px);
  transition: ease 0.7s;
}
.effect1:hover img {
  transition: ease 0.7s;
  transform: translateY(-5px);
}
.effect1:hover .card-body p:nth-child(1) {
  transition: ease 0.7s;
  color: green;
  font-weight: 700;
}

.login {
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.5) 30%, black 55%), url("https://images.unsplash.com/photo-1578070181910-f1e514afdd08?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60");
  background-size: 70%;
  height: 50vh;
}
.login div:first-child {
  padding: 20px;
  background: #021D51;
  color: white;
  border-radius: 20px 0 0 20px;
}

.register {
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.5) 30%, black 55%), url("https://images.unsplash.com/photo-1578070181910-f1e514afdd08?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60");
  background-size: 70%;
  height: 55vh;
}
.register div:first-child {
  padding: 20px;
  background: #021D51;
  color: white;
  border-radius: 20px 0 0 20px;
}

.own-bar {
  background-color: red;
  width: 70vw;
}/*# sourceMappingURL=style.css.map */